:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #52575F;
    --primary-color: #779341;;
    --primary-color-rgba: rgba(54, 133, 251, 1);
    --font-family: 'Poppins', sans-serif;

    --header-height: 120px;
    --navbar-height: 30px;

    --header-height: 50px;
    --layout-width: 1170px;
}

*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1,h2,h3{
    font-family: var(--font-family);
}
body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
}

/* .btn{
    min-width: 160px;
    height: 64px;
    padding: 17px 55px;
    outline: none;
    border: none;
    border-radius: 32px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;
}
.btn.auth-form__control-back:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn--size-s{
    min-width: 110px;
    height: 36px;
    font-size: 1.4rem;
    line-height: 2.6rem;
    padding: 5px 20px;

}
.btn.btn--primary{
    background-color: var(--primary-color);
    color:var(--white-color);
}
.btn.btn--outline{
    background: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn.btn--outline:hover{
    background: var(--primary-color);
    color: var(--white-color);
} */