
body{
    display: flex;
    width: 100%;
    height: 100%;
}
.app{
    background: url('../images/the-interior-has-a-armchair-on-empty-white-wall-background-3d-rendering 1.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 30px; */
}
.logo{
    margin: 30px 0 0 30px;
}
.main{
    width: 540px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: auto 90px auto 0;
    border-radius: 40px;
    padding: 44px 44px 78px;
}

.heading{
    display: flex;
    justify-content: space-between;
}
.welcome{
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 3.2rem;
    color: #000000;
}
.welcome > span {
    color: var(--primary-color)
}

.heading > p{
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 86px;
    color: #8D8D8D;
    margin-top: 6px;
}
.heading > p > a{
    color: var(--primary-color);
}
.heading > p > a:hover{
    text-decoration: underline;
}

.title{
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 8.2rem;
    color: var(--black-color)
}
.another-account{
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    min-width: 60px;
    height: 56px;
    /* padding: 17px 55px; */
    outline: none;
    border: none;
    border-radius: 9px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #4285F4;
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;
}

.btn.google{
    padding: 14px 68px 14px 32px;
    margin-right: 20px;
}
.btn.google > img{
    margin-right: 20px;
    width: 26px;
    height: 26px;
}
.btn.facebook{
    margin-right: 13px;
}
.btn:hover{
    background-color: #E9F1FF;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group:not(:first-child){
    margin-top: 36px;
}
.form-group > label{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--black-color);
}
.form-group > input{
    margin-top: 12px;
    border-radius: 9px;
    padding: 18px 0;
    padding-left: 24px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.1rem;
    background: var(--white-color);
    border: 1px solid #adadad;
}
.form-group > input:focus-within{
    border-color: #4285F4;
    caret-color: #4285F4;
}
.forgot-password{
    text-align: end;
    display: inline-block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #4285F4;
}
.forgot-password:hover{
    text-decoration: underline;
}

.btn-submit{
    margin-top: 8px;
    padding: 15px 92px;
    margin-left: auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
}